.mainCont {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4em;
}

.title {
    width: 85%;
    border-bottom: 0.1em solid black;
}

@media screen and (max-width: 700px) {
    .title {
        width: 90%;
    }

    .mainCont {
        min-height: 3em;
    }
}